<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-3">Hallo, Studycat!</h1>
  <p class="lead">Auf dieser Seite findest du alles, was du f체r dein erfolgreiches Studium brauchst.<br>
  Nach einer einfachen Registrierung stehen dir Mitschriften von anderen Studycats zur Verf체gung.</p>
  <hr class="my-2">
  <p>Worauf wartest du also noch? Logge dich ein und werde Teil der Community!</p>
  <p class="lead">
    <%= link_to "Jetzt registrieren!",new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>



<table class="table table-striped">
  
  <tbody>
  <% @unis.each do |uni| %>
      <tr>
      <th scope="row"><%= image_tag uni.avatar.url(:thumb) %></th>
      <td><h2><%= link_to uni.title, uni , class: "Uni" %></h2></td>
      <td><small><%= uni.subjects.count %> F채cher</small><br /></td>
      <td><%= link_to 'Show', uni %> | <%= link_to 'Edit', edit_uni_path(uni) %> | <%= link_to 'Destroy', uni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
   </tbody>
   </table>
<br>

<%= link_to 'Neue Uni hinzuf체gen', new_uni_path %>

