<p id="notice"><%= notice %></p>

<h1>Unis</h1>
    <% @unis.each do |uni| %>
 	<%= image_tag uni.avatar.url(:thumb) %>
      <h2><%= link_to uni.title, uni , class: "Uni" %></h2>
      <small><%= uni.subjects.count %> Fächer</small><br />
        <table>
        <td><%= link_to 'Show', uni %></td>
        <td><%= link_to 'Edit', edit_uni_path(uni) %></td>
        <td><%= link_to 'Destroy', uni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </table>
    <% end %>

<br>

<%= link_to 'New Uni', new_uni_path %>
