<p id="notice"><%= notice %></p>

<p>
  <h2><%= @uni.title %></h2>
</p>


<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Fach</th>
      <th>Beiträge</th>
      <th>Bearbeiten</th>
      <th>Löschen</th>
    </tr>
  </thead>
  <tbody>
  <% for subject in @uni.subjects %>
    <tr>
      <th><%= subject.id %></th>
      <th><%= link_to h(subject.title), uni_subject_path(@uni,subject.id) %></th>
      <th><%= subject.uploads.count %></th>
      <th><%= link_to "Bearbeiten", edit_uni_subject_path(@uni,subject) %></th>
      <th><%= link_to "Löschen", uni_subject_path(@uni,subject), :confirm => 'Bist du sicher?', :method => :delete %></th>
    </tr>
  <% end %>
  </tbody>
  </table>


<%= link_to 'Zurück', unis_path %> |
<%= link_to "Neues Fach", new_uni_subject_path(:uni_id => @uni.id) %>
