<p id="notice"><%= notice %></p>

<p>
  <h2><%= @uni.title %></h2>
</p>


<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Fach</th>
      <th>Beiträge</th>
    </tr>
  </thead>
  <tbody>
  <% for subject_area in @uni.subject_areas %>
    <tr>
      <th><%= subject_area.id %></th>
      <th><%= link_to h(subject_area.title), uni_subject_area_path(@uni,subject_area.id) %></th>
      <th><%= subject_area.subjects.count %></th>
    </tr>
  <% end %>
  </tbody>
  </table>


<%= link_to 'Zurück', unis_path %> |
<%= link_to "Neuer Fachbereich", new_uni_subject_area_path(:uni_id => @uni.id) %>
