<p>
  <h2><%= @subject.title %></h2>
</p>


<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Upload-Name</th>
      <th>Datei</th>
    </tr>
  </thead>
  <tbody>
  <% for resume in @subject.resumes %>
    <tr>
      <th><%= resume.id %></th>
      <th><%= link_to h(resume.name), uni_subject_area_subject_resume_path("#{params[:uni_id]}","#{params[:subject_area_id]}",@subject.id,resume.id) %></th>
      <th><%= link_to "Download Resume", resume.attachment_url,class: "btn btn-primary" %></th>
    </tr>
  <% end %>
  </tbody>
  </table>


<%= link_to 'Zurück', uni_subject_area_path("#{params[:uni_id]}","#{params[:subject_area_id]}") %> |
<%= link_to "Neuer Upload", new_uni_subject_area_subject_resume_path("#{params[:uni_id]}","#{params[:subject_area_id]}",@subject.id) %>
