<p id="notice"><%= notice %></p>

<p>
  <h2><%= @subject_area.title %></h2>
</p>


<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Fach</th>
      <th>Beiträge</th>
    </tr>
  </thead>
  <tbody>
  <% for subject in @subject_area.subjects %>
    <tr>
      <th><%= subject.id %></th>
      <th><%= link_to h(subject.title), uni_subject_area_subject_path("#{params[:uni_id]}",@subject_area.id,subject.id) %></th>
      <th><%= subject.resumes.count %></th>
    </tr>
  <% end %>
  </tbody>
  </table>


<%= link_to 'Zurück', uni_path %> |
<%= link_to "Neues Fach", new_uni_subject_area_subject_path("#{params[:uni_id]}",:subject_area_id => @subject_area.id) %>
