<p id="notice"><%= notice %></p>

<h1>
  <%= @upload.title %>
</h1>

<h3>Notitz:   <%= @upload.note %></h3>
  


<%= link_to 'Bearbeiten', edit_upload_path(@upload) %> |
<%= link_to 'Zurück', uploads_path %>
