<%= form_for(resume) do |f| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :subject_id, :value => "#{params[:subject_id]}" %>
  </div>

  <div class="field">
    <%= f.hidden_field :uni_id, :value => "#{params[:uni_id]}" %>
  </div>
  <div class="field">
    <%= f.hidden_field :subject_area_id, :value => "#{params[:subject_area_id]}" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
