<h1>New Upload</h1>

   <%= form_for @resume, html: { multipart: true }, :url => new_uni_subject_area_subject_resume_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    <%= f.hidden_field :subject_id, :value => "#{params[:subject_id]}" %>
    <%= f.hidden_field :uni_id, :value => "#{params[:uni_id]}" %>
    <%= f.hidden_field :subject_area_id, :value => "#{params[:subject_area_id]}" %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %> 
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>

<%= link_to 'Back', root_path %>
